.wrapper {
    /* border: 1px solid red!important; */
    /* margin: 1rem!important;
    padding: 1rem!important; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

mat-card {
    text-align: center;
    margin: 1rem!important;
    padding: 1rem!important;
}

.post {
    text-align: center;
    margin: 1rem!important;
    padding: 1rem!important;
    transition: all .2s ease-in-out;
}

.post:hover {
    transform: scale(1.05);
}



